.allhouse {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    
}
ul{
    list-style: none outside none;
}
.condition-box {
    
}

.tab-link.active {
    color: #fff;
    background: #ffa000;
    border-radius: 5px;
    padding: 0 5px;
}

.clearfix {
    line-height: 20px;
    padding: 0 0 7px 0;
    border-bottom: dotted 1px #ccc;
    position: relative;
    display: block;
}
.tab-item{
    display: flex;
}
.condition-name{
    font-weight: bold;
}
.page_num_box{
    text-align: center;
}
.page_num_box .page_num_item{
    display: inline-block;
    border: solid 1px #ddd;
    border-radius: 3px;
    color: #666;
    padding: 0 12px;
    height: 28px;
    line-height: 28px;
    margin: 0 2px;
    background: #fff;
}
.page_num_box .page_num_item.active{
    border: solid 1px #ffa000;
    color: #fff;
    background: #ffa000;
}
.page_num_box .page_num_item:hover{
    border: solid 1px #ffa000;
}
.price{
    font-size: 30px;
    color: #ffa000;
    height: 32px;
    line-height: 32px;
    margin-bottom: 5px;
    height: 120px;
}
