.allhouse {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
ul{
    list-style: none outside none;
}
.condition-box {
    
}

.tab-link.active {
    color: #fff;
    background: #ffa000;
    border-radius: 5px;
    padding: 0 5px;
}

.clearfix {
    line-height: 20px;
    padding: 0 0 7px 0;
    border-bottom: dotted 1px #ccc;
    position: relative;
    display: block;
}
.tab-item{
    display: flex;
}
.condition-name{
    font-weight: bold;
}