.column {
    max-width: 450px;
}

.header-image {
    width: 100%;
    height: 700px;
    background: url(../img/lianjia_bannerV2.png) no-repeat center;
    text-align: center;
}

.title {
    padding-top: 2em;
    color: white;
    font-size: 4em;
}

.subtitle {
    color: white;
}
