<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/allhouse.css">
    <script src="js/header.js"></script>
    <script src="js/allhouse.js"></script>
    <script src="js/component/jiarunav.js"></script>
    <script src="js/component/goodscard.js"></script>

</head>

<body>
    <div id="app">
        <jiarunav></jiarunav>
        <div class="allhouse">

            <div>
                <div class="ui center aligned basic segment search">
                    <img class="logo" src="img/logo.png" />
                    <div class="ui icon input">
                        <input class="prompt" type="text" placeholder="西二旗...">
                        <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>
            <div class="condition-box box">
                <ul class="tabs clearfix">
                    <li v-for="(tab,index) in tabs">
                    <li v-for="(tabitem,indexitem) in tab.items">
                        <a href="#" class="tab-link" @click="tabsSwitch(indexitem)" v-bind:class="{active:tabitem.isActive}">{{tabitem.name}}</a>
                    </li>
                    </li>
                </ul>
                <div class="cards">
                    <div class="tab-card" style="display: block;">这里是HTML教程</div>
                    <div class="tab-card">欢迎来到CSS模块</div>
                    <div class="tab-card">嗨，这里是Vue</div>
                </div>
            </div>
            <div v-for="item in house_items" class="ui divided items segment">
                <div class="item">
                    <div class="image">
                        <img :src="item.img">
                    </div>
                    <div class="content">
                        <a class="header">{{item.name}}</a>
                        <img width="64" height="15" alt="" src="http://static8.ziroom.com/phoenix/pc/images/201810/img_deepbreath_unselected_90_2x2.png">
                        <div class="meta">
                            <span class="cinema">{{item.annote}}</span>
                        </div>
                        <div class="description">
                            <p></p>
                        </div>
                        <div class="extra">
                            <div class="ui label">IMAX</div>
                            <div class="ui label"><i class="globe icon"></i> 附加的语言</div>
                            <div class="ui right floated primary button">
                                购票
                                <i class="right chevron icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui pagination menu">
                <a class="active item">
                    1
                </a>
                <div class="disabled item">
                    ...
                </div>
                <a class="item">
                    10
                </a>
                <a class="item">
                    11
                </a>
                <a class="item">
                    12
                </a>
            </div>
        </div>

    </div>
</body>

<script>
    var va = new Vue({
        el: '#app',
        data: {
            house_items: [],
            tabs: [{
                name: "面积",
                items: [{
                    name: "不限",
                    isActive: true
                }, {
                    name: "10平米以下",
                    isActive: false
                }, {
                    name: "10-20平米",
                    isActive: false
                }, {
                    name: "20-30平米",
                    isActive: false
                }, {
                    name: "30平米以上",
                    isActive: false
                }, ]
            }]

        },
        created: function () {
            var da = g_ajax_post('/house');
            console.log(da);
            this.house_items = da;

        },
        tabsSwitch: function (tabIndex) {

            var tabCardCollection = document.querySelectorAll(".tab-card"),
                len = tabCardCollection.length;

            for (var i = 0; i < len; i++) {
                tabCardCollection[i].style.display = "none";
                this.tabsName[i].isActive = false;
            }
            this.tabsName[tabIndex].isActive = true;
            tabCardCollection[tabIndex].style.display = "block";
        }

    });
</script>

</html>