<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/allhouse.css">
    <script src="js/header.js"></script>
    <script src="js/allhouse.js"></script>
    <script src="js/component/jiarunav.js"></script>
    <script src="js/component/goodscard.js"></script>

</head>

<body>
    <div id="app">
        <jiarunav></jiarunav>
        <div class="allhouse">
            <div>
                <div class="ui center aligned basic segment search">
                    <img class="logo" src="img/logo.png" />
                    <div class="ui icon input">
                        <input class="prompt" type="text" placeholder="西二旗...">
                        <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>
            <div class="condition-box ui raised segment">
                <ul class="clearfix">
                    <dl class="tab-item ui segment" v-for="(tab,index) in tabs">
                        <span class="condition-name">{{tab.name}}:</span>
                        <dd v-for="(tabitem,indexitem) in tab.items">
                            <a href="#" class="tab-link" @click="tabsSwitch(index,indexitem)" v-bind:class="{active:tabitem.isActive}">{{tabitem.name}}</a>
                        </dd>
                    </dl>
                </ul>
            </div>
            <div v-for="item in house_items" class="ui divided items segment">
                <div class="item">
                    <div class="image">
                        <img :src="item.img">
                    </div>
                    <div class="content">
                        <a class="header">{{item.name}}</a>
                        <img width="64" height="15" alt="" src="http://static8.ziroom.com/phoenix/pc/images/201810/img_deepbreath_unselected_90_2x2.png">
                        <div class="meta">
                            <span class="cinema">{{item.annote}}</span>
                        </div>
                        <div class="description">
                            <p></p>
                        </div>
                        <div class="extra">
                            <div class="ui label">IMAX</div>
                            <div class="ui label"><i class="globe icon"></i> 附加的语言</div>
                            <div class="ui right floated primary button">
                                购票
                                <i class="right chevron icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</body>

<script>
    var va = new Vue({
        el: '#app',
        data: {
            house_items: [],
            tabs: [{
                name: "面积",
                items: [{
                    name: "不限",
                    isActive: true
                }, {
                    name: "10平米以下",
                    isActive: false
                }, {
                    name: "10-20平米",
                    isActive: false
                }, {
                    name: "20-30平米",
                    isActive: false
                }, {
                    name: "30平米以上",
                    isActive: false
                }, ]
            },{
                name: "价格",
                items: [{
                    name: "不限",
                    isActive: true
                }, {
                    name: "2000以下",
                    isActive: false
                }, {
                    name: "2000~4000",
                    isActive: false
                }, {
                    name: "4000以上",
                    isActive: false
                },
                ]
            },{
                name: "面积",
                items: [{
                    name: "不限",
                    isActive: true
                }, {
                    name: "10平米以下",
                    isActive: false
                }, {
                    name: "10-20平米",
                    isActive: false
                }, {
                    name: "20-30平米",
                    isActive: false
                }, {
                    name: "30平米以上",
                    isActive: false
                }, ]
            }]

        },
        methods: {
            tabsSwitch: function (index, tabIndex) {
                var items = this.$data.tabs[index].items;
                
                items[tabIndex].isActive = true;

                for (var itemindex in items) {
                    if (itemindex == tabIndex)
                        continue;
                    items[itemindex].isActive = false;
                }
            }
        },
        created: function () {
            var da = g_ajax_post('/house');
            this.house_items = da;

        },



    });
</script>

</html>