<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/user-info.css">
  <script src="js/header.js"></script>
  <!-- <script src="js/user-info.js"></script> -->
  <script src="js/component/jiarunav.js"></script>
</head>

<body>
  <div id="app">
    <jiarunav></jiarunav>

    <div class="ui grid" style="margin-top:20px;">
      <div class="two column">
      </div>
      <div class="two wide column">
        <div class="ui vertical fluid tabular menu">
          <a class="item active" data-tab="account-setting">
            账户信息
          </a>
          <a class="item" data-tab="house-info">
            房屋信息
          </a>
        </div>
      </div>
      <div class="twelve wide column">
        <div class="ui tab active" data-tab="account-setting">
          <div class="ui two column grid container">

            <div class="row">
              <h2 class="ui header">
                <i class="settings icon"></i>
                <div class="content">
                  账户信息
                  <div class="sub header">查看并修改您的资料</div>
                </div>
              </h2>
            </div>
            <div class="row">
              <div class="column">用户名</div>
              <div class="column">{{this.user.username}}</div>
            </div>
            <div class="row">
              <div class="column">新密码</div>
              <input class="column">
            </div>
            <div class="row">
              <div class="column">姓名</div>
              <div class="column">{{this.user.name}}</div>
            </div>
            <div class="row">
              <div class="column">证件类型</div>
              <div class="column">{{this.user.id_type}}</div>
            </div>
            <div class="row">
              <div class="column">证件号码</div>
              <div class="column">{{this.user.id_number}}</div>
            </div>
            <div class="row">
              <div class="column">手机号码</div>
              <input class="column" :value="this.user.phone">
            </div>
            <div class="row">
              <div class="column">级别</div>
              <div class="column">{{this.user.grade}}</div>
            </div>
            <div class="row">
              <div class="column">注册城市</div>
              <div class="column">{{this.user.register_city}}</div>
            </div>
            <div class="row">
              <div class="column">注册时间</div>
              <div class="column">{{this.user.register_time}}</div>
            </div>
      
            <div class="row">
              <div class="ui violet button">
                提交
              </div>
            </div>
          </div>
      
        </div>
        <div class="ui tab" data-tab="house-info">

          <div class="row">
            <h2 class="ui header">
              <i class="warehouse icon"></i>
              <div class="content">
                房屋信息
                <div class="sub header">相关出租与求租信息</div>
                
              </div>
            </h2>
          </div>
          <!-- 房屋展示部分 -->
          <div v-for="item in house_items" class="ui divided items segment">
              <div class="item">
                  <div class="image">
                      <img :src="item.img">
                  </div>
                  <div class="content">
                      <a class="header">{{item.name}}</a>
                      <img width="64" height="15" alt="" src="http://static8.ziroom.com/phoenix/pc/images/201810/img_deepbreath_unselected_90_2x2.png">
                      <div class="meta">
                          <span class="cinema">{{item.annote}}</span>
                      </div>
                      <div class="description">
                          <p></p>
                      </div>
                      <div class="extra">
                          <!-- <div v-for="tag in item.tag" class="ui label">{{ tag }}</div> -->
                          
                          <div class="ui right floated house_right">
                              <div class="ui six wide column price">${{item.price}}</div>
                              <div class="ui default button">
                                  查看
                                  <!-- <i class="ui right chevron icon"></i> -->
                              </div>
                          </div>

                      </div>

                  </div>
              </div>
          </div>
          <!-- 房屋展示部分结束 -->
        </div>
      </div>
    </div>


    <!-- <div class="ui two column grid container">

      <div class="row">
        <div class="column">用户名</div>
        <div class="column">{{this.user.username}}</div>
      </div>
      <div class="row">
        <div class="column">新密码</div>
        <input class="column">
      </div>
      <div class="row">
        <div class="column">姓名</div>
        <div class="column">{{this.user.name}}</div>
      </div>
      <div class="row">
        <div class="column">证件类型</div>
        <div class="column">{{this.user.id_type}}</div>
      </div>
      <div class="row">
        <div class="column">证件号码</div>
        <div class="column">{{this.user.id_number}}</div>
      </div>
      <div class="row">
        <div class="column">手机号码</div>
        <input class="column" :value="this.user.phone">
      </div>
      <div class="row">
        <div class="column">级别</div>
        <div class="column">{{this.user.grade}}</div>
      </div>
      <div class="row">
        <div class="column">注册城市</div>
        <div class="column">{{this.user.register_city}}</div>
      </div>
      <div class="row">
        <div class="column">注册时间</div>
        <div class="column">{{this.user.register_time}}</div>
      </div>

      <div class="row">
        <div class="ui violet button">
          提交
        </div>
      </div>
    </div> -->

  </div>
</body>

<script>

new Vue({
  el: '#app',
  data: {
    house_items: [],
  },
  created: function() {
    var da = g_ajax_post('/data/user-info');
    this.user = da;
    var house_item = g_ajax_post('/house');
            this.house_items = house_item;
  }
});

$('.tabular.menu .item').tab();

</script>

</html>